gunicorn==20.1.0
label-studio-ml @ git+https://github.com/HumanSignal/label-studio-ml-backend.git
torch
torchvision
pandas
opencv-python
numpy
scipy
h5py
jupyter
jupyterlab
matplotlib
tb-nightly
visdom
scikit-image
tikzplotlib
gdown
cython
pycocotools
lvis
jpeg4py
pyqt5-tools